body {
  font-family: "Cinzel", serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(137, 210, 253) 0%,
    rgb(255, 241, 188) 90%
  );
}

#autoresizing {
  display: block;
  overflow: hidden;
  resize: none;
}

h1 {
  margin: 20px auto 50px auto;
  display: block;
  text-align: center;
  text-shadow: -6px 11px 9px rgba(4, 82, 157, 0.5);
  color: #04529d;
  font-family: "Cinzel", serif;
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #ecfffb;
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 2px double solid #2074aa;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}
.text1 {
  padding: 30px 20px 15px 10px;
}

.text2 {
  width: 600px;
  height: 700px;
}
.res {
  padding: 50px auto;
  margin: 50px auto;
}

select {
  margin: 20px auto;
  display: block;
  padding: 6px 30px;
  font-size: 18px;
  color: #1a64d6;
  background: #ecfffb;
  border: 2px double solid #2074aa;
  border-radius: 30px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
  color: #2074aa;
  font-family: "Cinzel", serif;
}
label {
  text-align: center;
}
button {
  margin: 5px auto;
  display: block;
  padding: 10px 20px;
  font-size: 18px;
  color: #1a64d6;
  background: #ecfffb;
  border: 2px double solid #2074aa;
  border-radius: 30px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
  color: #2074aa;
  font-family: "Cinzel", serif;
}
button:hover {
  background: #fff;
  color: #1a64d6;
  cursor: pointer;
}
